html,
body {
  /* Palette */
  --primary: #D27A49;
  --secondary: #E8A27C;
  --tertiary: #FFF5F5;
  --default: #b29182;

  /* Other colors */
  --white: #fff;
  --header: #793f1f;

  /* Fonts */
  --base-font-family: 'NewYorker-Regular';
  --secondary-font: 'Circe-Regular';
  --secondary-font-bold: 'Circe-Bold';
  --secondary-font-light: 'Circe-Light';
  --base-font-size: 16px;
  --tablet-font-size: 14px;
  --mobile-font-size: 12px;

  /* Distances */
  --default-padding: 30px 100px;
}
