/* Imports */
@import url(./fonts.css);
@import url(./abstracts.css);
@import url(./components/index.css);

html,
body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  margin: 0;
  min-height: 100vh;
}

body {
  overflow-y: auto;
  background-color: var(--tertiary);
  padding: var(--default-padding);
  box-sizing: border-box;
}

/* Tablet styles */
@media screen and (max-width: 991px) {

  html,
  body {
    font-size: var(--tablet-font-size);
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {

  html,
  body {
    font-size: var(--mobile-font-size);
  }
}
