/* Imports */
@import url("./common.css");
@import url('./navbar.css');
@import url('./top-section.css');
@import url('./new-products-section.css');
@import url('./motto-section.css');
@import url('./products-by-category.css');
@import url('./order-placement.css');
@import url('./social-media-subscription.css');
@import url('./footer.css');

/* App container */
.app {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, auto);
  gap: var(--large-gap);
}
