/* New products container */
.new-products-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: var(--default-gap);
}

/* Title */
.new-products-section .section-title {
  font-size: 250%;
  text-align: center;
  color: var(--header);
  font-weight: normal;
  margin: 0;
}

/* Mobile image navigation arrows */
.new-products-section .nav-arrows {
  align-self: center;
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  gap: calc(var(--default-gap) / 3);
  margin-bottom: -20px;
  width: max-content;
  transform: scaleX(3);
}

.new-products-section .nav-arrows .arrow {
  font-size: 150%;
  color: var(--primary);
  user-select: none;
  cursor: pointer;
}

.new-products-section .nav-arrows .arrow.left {
  transform: rotate(180deg);
}

/* Products list */
.new-products-section .products-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--default-gap);
}

.new-products-section .products-list .product-card {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--small-gap);
}

.new-products-section .product-card .image {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-products-section .product-card .image .favorite-icon {
  font-size: 150%;
  color: var(--default);
  margin: var(--small-gap);
  padding: var(--x-small-gap);
  border-radius: 50%;
  background-color: var(--tertiary);
  user-select: none;
  cursor: pointer;
}

.new-products-section .product-card .name,
.new-products-section .product-card .price {
  font-size: 100%;
  font-family: var(--secondary-font);
  line-height: 1;
  margin: 0;
}

.new-products-section .product-card .name {
  color: var(--header);
}

.new-products-section .product-card .price {
  color: var(--primary);
}

/* Assigning the images to each product */
.new-products-section .product-card .img-1 {
  background-image: url(../../img/scented-candle.jpg);
}

.new-products-section .product-card .img-2 {
  background-image: url(../../img/beige-ceramic-vase.jpg);
}

.new-products-section .product-card .img-3 {
  background-image: url(../../img/black-ceramic-vase.jpg);
}

.new-products-section .product-card .img-4 {
  background-image: url(../../img/handmade-soap.jpg);
}

/* All products shortcut */
.new-products-section .all-products-shortcut {
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  background-color: var(--secondary);
  font-family: var(--secondary-font-bold);
  color: var(--white);
  white-space: nowrap;
  cursor: pointer;
}

.new-products-section .all-products-shortcut:hover,
.new-products-section .all-products-shortcut:focus,
.new-products-section .all-products-shortcut:active {
  opacity: .8;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .new-products-section .nav-arrows {
    display: flex;
  }

  .new-products-section .products-list {
    overflow: hidden;
    scroll-snap-type: x mandatory;
  }

  .new-products-section .product-card {
    scroll-snap-align: start;
    min-width: 100%;
  }
}
