/* New products container */
.new-products-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/* Products list */
.products-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--default-gap);
}

.product-card {
  flex: 1;
  width: 100%;
}

.product-card .image {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Assigning the images to each product */
.product-card .img-1 {
  background-image: url(../../img/scented-candle.jpg);
}

.product-card .img-2 {
  background-image: url(../../img/beige-ceramic-vase.jpg);
}

.product-card .img-3 {
  background-image: url(../../img/black-ceramic-vase.jpg);
}

.product-card .img-4 {
  background-image: url(../../img/handmade-soap.jpg);
}
