/* Order placement process description section container */
.how-to-place-order-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--default-gap);
}

/* Description cards container */
.how-to-place-order-section .order-placement-process-description {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--large-gap);
  padding: 0 var(--large-gap);
}

/* Description card */
.how-to-place-order-section .description-card {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--default-gap);
  text-align: center;
}

.how-to-place-order-section .description-card .icon {
  font-size: 200%;
  color: var(--white);
  background-color: var(--secondary);
  padding: 15px;
  width: max-content;
  box-sizing: border-box;
  border-radius: 50%;
  user-select: none;
}

.how-to-place-order-section .description-card .header {
  font-size: 100%;
  font-family: var(--secondary-font-bold);
  color: var(--default);
  line-height: 1;
  margin: 0;
}

.how-to-place-order-section .description-card .description {
  font-size: 100%;
  font-family: var(--secondary-font);
  color: var(--default);
  line-height: 1;
  margin: 0;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .how-to-place-order-section .order-placement-process-description {
    flex-flow: column nowrap;
    gap: var(--default-gap);
    max-width: 300px;
    padding: 0;
  }

  .how-to-place-order-section .description-card {
    gap: var(--small-gap);
  }
}
