/* Products by category section container */
.products-by-category-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--default-gap);
  margin-top: calc(0px - var(--large-gap) + var(--default-gap));
}

/* Title */
.products-by-category-section .section-title {
  font-size: 250%;
  text-align: center;
  color: var(--header);
  font-weight: normal;
  margin: 0;
}
